{% set MEDIAWIKI_DIGEST="sha256:c4f5d7dcccfbf22204f05fadb8e08515dccd8bd97ed854d77e64f25e5cc21d6e" %}
{% set MEDIAWIKI_VERSION="1.46.0" %}
{% set SEMANTIC_MEDIAWIKI_VERSION="7.2.1" %}
{% set COMPOSER_VERSION="2.10.2" %}
{% set ZIP_VERSION="3.0-15" %}
{% set UNZIP_VERSION="6.0-29" %}
{% set PHP_VERSION="8.3.[0-9]+" %}
